body {
    font-size: 20px;
    margin-top: 100px;
    padding: 0px;
    background-color: #b0b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculadora {
    background-color: #cccccc;
    border: 1px solid black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 140px;
}

#display {
    background-color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 10px;
}

#botoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    font-size: 20px;
    width: 30px;
    height: 30px;
}